@page "/Demo/{winner?}"
@model WebApplication1.Pages.DemoModel
@{
    ViewData["Title"] = "new feature yay!!!";
    

}

<h1>Welcome to the @ViewData["Title"]!!!</h1>

<p>Here you can add HTML tags to display your static information</p>

<p>The animal of the day is the <strong>@Model.selectedAnimal</strong>!!!</p>

